# Python 가상환경
venv/
.venv/
.env/

# Python 캐시 및 컴파일된 파일
__pycache__/
*.py[cod]
*.pyo
*.log

# 패키지 의존성 폴더
lib/
lib64/

# 사용자 정의 스크립트 디렉토리
scripts/

Include/

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# VSCode 설정 (선택사항)
.vscode/

# 시스템 파일 (macOS, Windows 등)
.DS_Store
Thumbs.db
